<!-- Info -->
<section>
	<div class="inner">
		<section>
			<div class="web-info-method">
				<span class="icon alt fa-exclamation-triangle"></span>
				<h3>Before you proceed further ...</h3>
				<p>
					Please note that this is an effort from a single person (aka, me) with the assitance, help, and support from a lot of people from BranOnline's community.
					While this is a fun little project I am experimenting out, I am trying my best to put proper information as much as I can. This website is spoiler-free, and
					may not contain up-to-date information - especially regarding character builds and any recent story/character revelations. Any new updates will be updated
					in due time. However delayed, whatever information I put here is vetted and verified by a good number of people - so it remains objectively true. Please use
					this website information as a quick directory of information. I will provide links for extensive reading/researching if you are interested in that.
				</p>
			</div>
		</section>
	</div>
</section>
